body {
    background-color: #e8f4f8;
    font-family: Arial;
    padding: 40px;
}

h1 {
    color: #3498db;
    font-size: 44px;
}


img {
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}