body {
  font-family: Arial, sans-serif;
  background-color: #97c4eb;
  margin: 0;
  padding: 0;
}

header {
  color: rgb(228, 142, 142);
  padding: 20px;
  display: flex;
}

main {
  margin: 40px;
}

img {
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px lch(76.16% 21.93 21.28 / 0.3).3;
  display-content: right; 
}

p {
  font-size: 18px;
  color: #7a4343;
  margin-top: 20px;
}